.Rhistory
.RData
.Rproj.user
/data-raw/censo_escolar/CAD_ESC_MAT_DOC_2015.csv
/data-raw/censo_escolar/CAD_ESC_MAT_DOC_2015.xlsx
/data-raw/censo_escolar/censo_escolar_colunas.pdf
/data-raw/grade_censo/fortaleza/grade_raw_fortaleza.cpg
/data-raw/grade_censo/fortaleza/grade_raw_fortaleza.dbf
/data-raw/grade_censo/fortaleza/grade_raw_fortaleza.prj
/data-raw/grade_censo/fortaleza/grade_raw_fortaleza.sbn
/data-raw/grade_censo/fortaleza/grade_raw_fortaleza.sbx
/data-raw/grade_censo/fortaleza/grade_raw_fortaleza.shp
/data-raw/grade_censo/fortaleza/grade_raw_fortaleza.shp.xml
/data-raw/grade_censo/fortaleza/grade_raw_fortaleza.shx
/data-raw/grade_censo/rio_de_janeiro/grade_raw_rio_de_janeiro.cpg
/data-raw/grade_censo/rio_de_janeiro/grade_raw_rio_de_janeiro.dbf
/data-raw/grade_censo/rio_de_janeiro/grade_raw_rio_de_janeiro.prj
/data-raw/grade_censo/rio_de_janeiro/grade_raw_rio_de_janeiro.sbn
/data-raw/grade_censo/rio_de_janeiro/grade_raw_rio_de_janeiro.sbx
/data-raw/grade_censo/rio_de_janeiro/grade_raw_rio_de_janeiro.shp
/data-raw/grade_censo/rio_de_janeiro/grade_raw_rio_de_janeiro.shp.xml
/data-raw/grade_censo/rio_de_janeiro/grade_raw_rio_de_janeiro.shx
/data-raw/gtfs/for/gtfs_for_00_201810.zip
/data-raw/gtfs/for/gtfs_for_00_201810/agency.txt
/data-raw/gtfs/for/gtfs_for_00_201810/calendar.txt
/data-raw/gtfs/for/gtfs_for_00_201810/calendar_dates.txt
/data-raw/gtfs/for/gtfs_for_00_201810/fare_attributes.txt
/data-raw/gtfs/for/gtfs_for_00_201810/fare_rules.txt
/data-raw/gtfs/for/gtfs_for_00_201810/routes.txt
/data-raw/gtfs/for/gtfs_for_00_201810/shapes.txt
/data-raw/gtfs/for/gtfs_for_00_201810/stop_times.txt
/data-raw/gtfs/for/gtfs_for_00_201810/stops.txt
/data-raw/gtfs/for/gtfs_for_00_201810/trips.txt
/data-raw/gtfs/rio/gtfs_rio_00_20171218.zip
/data-raw/gtfs/rio/gtfs_rio_01_20170418.zip
/data-raw/municipios/ac/12MUE250GC_SIR.dbf
/data-raw/municipios/ac/12MUE250GC_SIR.prj
/data-raw/municipios/ac/12MUE250GC_SIR.shp
/data-raw/municipios/ac/12MUE250GC_SIR.shx
/data-raw/municipios/ac/ac_distritos.zip
/data-raw/municipios/ac/ac_municipios.zip
/data-raw/municipios/ac/ac_setores_censitarios.zip
/data-raw/municipios/ac/ac_subdistritos.zip
/data-raw/municipios/al/27MUE250GC_SIR.dbf
/data-raw/municipios/al/27MUE250GC_SIR.prj
/data-raw/municipios/al/27MUE250GC_SIR.shp
/data-raw/municipios/al/27MUE250GC_SIR.shx
/data-raw/municipios/al/al_distritos.zip
/data-raw/municipios/al/al_municipios.zip
/data-raw/municipios/al/al_setores_censitarios.zip
/data-raw/municipios/al/al_subdistritos.zip
/data-raw/municipios/am/13MUE250GC_SIR.dbf
/data-raw/municipios/am/13MUE250GC_SIR.prj
/data-raw/municipios/am/13MUE250GC_SIR.shp
/data-raw/municipios/am/13MUE250GC_SIR.shx
/data-raw/municipios/am/am_distritos.zip
/data-raw/municipios/am/am_municipios.zip
/data-raw/municipios/am/am_setores_censitarios.zip
/data-raw/municipios/am/am_subdistritos.zip
/data-raw/municipios/ap/16MUE250GC_SIR.dbf
/data-raw/municipios/ap/16MUE250GC_SIR.prj
/data-raw/municipios/ap/16MUE250GC_SIR.shp
/data-raw/municipios/ap/16MUE250GC_SIR.shx
/data-raw/municipios/ap/ap_distritos.zip
/data-raw/municipios/ap/ap_municipios.zip
/data-raw/municipios/ap/ap_setores_censitarios.zip
/data-raw/municipios/ap/ap_subdistritos.zip
/data-raw/municipios/ba/29MUE250GC_SIR.dbf
/data-raw/municipios/ba/29MUE250GC_SIR.prj
/data-raw/municipios/ba/29MUE250GC_SIR.shp
/data-raw/municipios/ba/29MUE250GC_SIR.shx
/data-raw/municipios/ba/ba_distritos.zip
/data-raw/municipios/ba/ba_municipios.zip
/data-raw/municipios/ba/ba_setores_censitarios.zip
/data-raw/municipios/ba/ba_subdistritos.zip
/data-raw/municipios/ce/ce_distritos.zip
/data-raw/municipios/ce/ce_municipios.zip
/data-raw/municipios/ce/ce_setores_censitarios.zip
/data-raw/municipios/ce/ce_subdistritos.zip
/data-raw/municipios/ce/municipios_ce.dbf
/data-raw/municipios/ce/municipios_ce.prj
/data-raw/municipios/ce/municipios_ce.shp
/data-raw/municipios/ce/municipios_ce.shx
/data-raw/municipios/df/df_distritos.zip
/data-raw/municipios/df/df_municipios.zip
/data-raw/municipios/df/df_setores_censitarios.zip
/data-raw/municipios/df/df_subdistritos.zip
/data-raw/municipios/es/es_distritos.zip
/data-raw/municipios/es/es_municipios.zip
/data-raw/municipios/es/es_setores_censitarios.zip
/data-raw/municipios/es/es_subdistritos.zip
/data-raw/municipios/go/go_distritos.zip
/data-raw/municipios/go/go_municipios.zip
/data-raw/municipios/go/go_setores _censitarios.zip
/data-raw/municipios/go/go_subdistritos.zip
/data-raw/municipios/ma/ma_distritos.zip
/data-raw/municipios/ma/ma_municipios.zip
/data-raw/municipios/ma/ma_setores_censitarios.zip
/data-raw/municipios/ma/ma_subdistritos.zip
/data-raw/municipios/mg/mg_distritos.zip
/data-raw/municipios/mg/mg_municipios.zip
/data-raw/municipios/mg/mg_setores_censitarios.zip
/data-raw/municipios/mg/mg_subdistritos.zip
/data-raw/municipios/ms/ms_distritos.zip
/data-raw/municipios/ms/ms_municipios.zip
/data-raw/municipios/ms/ms_setores_censitarios.zip
/data-raw/municipios/ms/ms_subdistritos.zip
/data-raw/municipios/mt/mt_distritos.zip
/data-raw/municipios/mt/mt_municipios.zip
/data-raw/municipios/mt/mt_setores_censitarios.zip
/data-raw/municipios/mt/mt_subdistritos.zip
/data-raw/municipios/pa/pa_distritos.zip
/data-raw/municipios/pa/pa_municipios.zip
/data-raw/municipios/pa/pa_setores_censitarios.zip
/data-raw/municipios/pa/pa_subdistritos.zip
/data-raw/municipios/pb/pb_distritos.zip
/data-raw/municipios/pb/pb_municipios.zip
/data-raw/municipios/pb/pb_setores_censitarios.zip
/data-raw/municipios/pb/pb_subdistritos.zip
/data-raw/municipios/pe/pe_distritos.zip
/data-raw/municipios/pe/pe_municipios.zip
/data-raw/municipios/pe/pe_setores_censitarios.zip
/data-raw/municipios/pe/pe_subdistritos.zip
/data-raw/municipios/pi/pi_distritos.zip
/data-raw/municipios/pi/pi_municipios.zip
/data-raw/municipios/pi/pi_setores_censitarios.zip
/data-raw/municipios/pi/pi_subdistritos.zip
/data-raw/municipios/pr/pr_distritos.zip
/data-raw/municipios/pr/pr_municipios.zip
/data-raw/municipios/pr/pr_setores_censitarios.zip
/data-raw/municipios/pr/pr_subdistritos.zip
/data-raw/municipios/rj/municipios_rj.dbf
/data-raw/municipios/rj/municipios_rj.prj
/data-raw/municipios/rj/municipios_rj.shp
/data-raw/municipios/rj/municipios_rj.shx
/data-raw/municipios/rj/rj_distritos.zip
/data-raw/municipios/rj/rj_municipios.zip
/data-raw/municipios/rj/rj_setores_censitarios.zip
/data-raw/municipios/rj/rj_subdistritos.zip
/data-raw/municipios/rn/rn_distritos.zip
/data-raw/municipios/rn/rn_municipios.zip
/data-raw/municipios/rn/rn_setores_censitarios.zip
/data-raw/municipios/rn/rn_subdistritos.zip
/data-raw/municipios/ro/ro_distritos.zip
/data-raw/municipios/ro/ro_municipios.zip
/data-raw/municipios/ro/ro_setores_censitarios.zip
/data-raw/municipios/ro/ro_subdistritos.zip
/data-raw/municipios/rr/rr_distritos.zip
/data-raw/municipios/rr/rr_municipios.zip
/data-raw/municipios/rr/rr_setores_censitarios.zip
/data-raw/municipios/rr/rr_subdistritos.zip
/data-raw/municipios/rs/rs_distritos.zip
/data-raw/municipios/rs/rs_municipios.zip
/data-raw/municipios/rs/rs_setores_censitarios.zip
/data-raw/municipios/rs/rs_subdistritos.zip
/data-raw/municipios/sc/sc_distritos.zip
/data-raw/municipios/sc/sc_municipios.zip
/data-raw/municipios/sc/sc_setores_censitarios.zip
/data-raw/municipios/sc/sc_subdistritos.zip
/data-raw/municipios/se/se_distritos.zip
/data-raw/municipios/se/se_municipios.zip
/data-raw/municipios/se/se_setores_censitarios.zip
/data-raw/municipios/se/se_subdistritos.zip
/data-raw/municipios/sp/sp_distritos.zip
/data-raw/municipios/sp/sp_municipios.zip
/data-raw/municipios/sp/sp_setores_censitarios.zip
/data-raw/municipios/sp/sp_subdistritos.zip
/data-raw/municipios/to/to_distritos.zip
/data-raw/municipios/to/to_municipios.zip
/data-raw/municipios/to/to_setores_censitarios.zip
/data-raw/municipios/to/to_subdistritos.zip
/data/censo_escolar/censo_escolar_2015.csv
/data/censo_escolar/censo_escolar_2015_long.csv
acesso_oport_kaue.Rproj
junk
misc
lucene
presentations
.httr-oauth
/r/README.Rmd
/v8.6.0.1/EPSG.data
/v8.6.0.1/EPSG.properties
/v8.6.0.1/EPSG.script
/v8.6.0.1/EPSG_creation_marker.txt
test2.txt
